mikolaj.marciniak/target/test-classes/CS2020/assignment2/AppTest.class
mikolaj.marciniak/target/classes/CS2020/assignment2/App.class
mikolaj.marciniak/target/classes/CS2020/assignment2/Artist.class
mikolaj.marciniak/target/classes/CS2020/assignment2/Song.class
